*{
    max-width: 1920vw;
    margin: 0vw;
}
head{
background-color: blue;
padding: 10px 1920vw;
display: flex;
justify-content: center;
}
.navegar{
display: flex;
align-items: center;
padding: 50vw 50vw;
color: blue;
}
.titulo-topo{
display: flex;
padding: 50px 1920px;
background-color: blue;
font-size: 50px;

}
.navegar{
display: inline;
align-items: center;

}