*{
    max-width: 1920vw;
    margin: 0vw;
}
head{
background-color: black;
/* padding: 10px 1920vw; */
display: flex;
justify-content: center;
}
.navegar{
display: flex;
align-items: center;
padding: 50vw 50vw;
color: blue;
}